<!DOCTYPE html>
<html lang="fr">
	<head>
	    <meta charset="utf-8">
	    <title>Projet fin d'étude</title>
        <link rel="stylesheet" type="text/css" href="../css/style.css">
    </head>
    <body>
        <div id= "global">
        	<h1>Bienvenu!</h1>
        	<a href="http://localhost:8081/jeu/"> Entrez</a>
            <img src="../assets/images/manette.jpg">
        </div>
    </body>
</html>
